#app {
	padding: 0px 20px;
}
.vertical {
	background: #E3E0E2;
	margin-right: 20px;
}

.btn-group {
	visibility: hidden;
}

.vertical:hover > h2 > .btn-group {
	visibility: visible;
}

.horizontal:hover  .btn-group {
	visibility: visible;
}

.horizontal {
	background: #c7c7c7;
	margin: 0px 0px 20px 0px;
	border-radius: 20px;
}

.edit-panel {
	margin-left: 5px;
}

.leftInput {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
}

.newNoteInput {
	width : calc(100% - 45px);
}

.buttonAddNote {
	visibility: hidden;
}

.horizontal:hover .buttonAddNote {
	visibility: visible;
}

.note {
	position: relative;
}

.removeNoteButton {
	position: absolute;
	top: 5px;
	right: 10px;
	visibility: hidden;
}

.note:hover .removeNoteButton {
	visibility: visible;
}